.main-banner {
    background-image: url("/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(120deg, #8400ff, #33cfff);
        opacity: 0.5;
        z-index: 1;
    }
    .container {
        z-index: 999;
    }
    h6 {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    h2 {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        margin-top: 20px;
    }

    .buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .border-button {
        margin-right: 15px;
    }
}
@media (min-width: 992px) {
    .main-banner {
        height: 100vh;
    }
}
@media (max-width: 991px) {
    .main-banner {
        padding-top: 180px;
        padding-bottom: 0;
        h2.display-4 {
            font-size: calc(1.475rem + 1.7vw);
        }
        img {
            object-fit: contain;
            height: 350px;
        }
        .buttons {
            justify-content: center;
        }
    }
}
@media (max-width: 767px) {
    .main-banner {
        padding-top: 150px;
        img {
            object-fit: contain;
            height: 300px;
        }
        h2.display-4 {
            font-size: calc(1.475rem + 1vw);
        }
    }
}
@media (max-width: 422px) {
    .main-banner {
        padding-top: 150px;
        h2.display-4 {
            font-size: 1.25rem;
        }
        img {
            height: 150px;
        }
    }
}
@media (max-width: 422px) {
    .main-banner {
        padding-top: 120px;
    }
}