.c-purple {
    color: #7453fc;
}
.shadow-purple {
    color: #ffffff;
    filter: drop-shadow(0px -1px 0px #7453fc) drop-shadow(1px 1px 1px #7453fc) drop-shadow(1px 1px 1px #7453fc)
        drop-shadow(1px 1px 1px #7453fc);
}
.shadow-white {
    color: #7453fc;
    filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
}
.shadow-3300ff {
    color: #3300ff;
    filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
}
.width-max-content {
    width: max-content;
}
.align-item-flex-end {
    align-items: flex-end;
}
.png-shadow-white {
    -webkit-filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
    filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  