.c-purple {
    color: #7453fc;
}
.a-c-purple {
    margin: 10px 0px;
    text-align: center;
    * {
        color: #7453fc;
        font-size: 1rem;
    }
    a {
        width: max-content;
        background: #00000000;
        border-radius: 15px;
        padding: 0 10px;
        background: linear-gradient(to left, rgba(255, 0, 0, 0) 50%, #7453fc 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 1s ease;
    }
    a:hover {
        color: #ffffff;
        background-position: left bottom;
    }
}
button.purple {
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 100%;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}
.shadow-purple {
    color: #ffffff;
    filter: drop-shadow(0px -1px 0px #7453fc) drop-shadow(1px 1px 1px #7453fc) drop-shadow(1px 1px 1px #7453fc)
        drop-shadow(1px 1px 1px #7453fc);
}
.shadow-white {
    color: #7453fc;
    filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
}
.shadow-3300ff {
    color: #3300ff;
    filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
}
.width-max-content {
    width: max-content;
}
.align-item-flex-end {
    align-items: flex-end;
}
.png-shadow-white {
    -webkit-filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
    filter: drop-shadow(0px -1px 0px #ffffff) drop-shadow(1px 1px 1px #ffffff) drop-shadow(1px 1px 1px #ffffff)
        drop-shadow(1px 1px 1px #ffffff);
}
.truncate-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-4 {
    height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-default-bg {
    background-image: url("/images/dark-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px 120px 0px;
    position: relative;
}
