.home-page {
    .package {
        .item {
            background-color: #282b2f;
            border: 1px solid #404245;
            border-radius: 20px;
            padding: 25px;
            h4 {
                text-align: center;
                align-items: center;
            }
            .bid {
                color: #ffffff;
            }
        }
        .line-dec {
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
            margin-bottom: 25px;
            margin-top: 30px;
        }
        button {
            font-size: 14px;
            color: #fff;
            background-color: #7453fc;
            border: 1px solid #7453fc;
            padding: 12px 30px;
            display: inline-block;
            border-radius: 25px;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            &:hover {
                background-color: #fff;
                color: #7453fc;
                border: 1px solid #fff;
            }
        }
    }
    .categories-collections {
        background-image: url("/images/dark-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 120px 0px 150px 0px;
        position: relative;

        &:after {
            background-image: url("/images/category-collection-dec.png");
            width: 300px;
            height: 282px;
            position: absolute;
            bottom: 0;
            right: 30px;
            content: "";
        }

        .categories .item {
            background-color: #282b2f;
            text-align: center;
            padding: 30px;
            border-radius: 20px;
            border: 1px solid #404245;
            position: relative;

            .icon {
                width: 62px;
                height: 62px;
                display: inline-block;
                text-align: center;
                line-height: 62px;
                background-color: #fff;
                border-radius: 50%;

                img {
                    max-width: 31px;
                }
            }

            h4 {
                margin-top: 15px;
                font-size: 20px;
            }

            .icon-button a {
                display: inline-block;
                width: 46px;
                height: 46px;
                line-height: 46px;
                background-color: #fff;
                color: #7453fc;
                border-radius: 50%;
                font-size: 18px;
                position: absolute;
                left: 50%;
                bottom: -23px;
                transform: translateX(-23px);
                transition: all 0.3s;
                opacity: 0;
                visibility: hidden;

                &:hover {
                    background-color: #7453fc;
                    color: #fff;
                }
            }

            &:hover .icon-button a {
                visibility: visible;
                opacity: 1;
            }
        }
        .collections {
            margin-top: 100px;
            position: relative;
            z-index: 999;

            .item {
                img {
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    object-fit: cover;
                }

                .down-content {
                    background-color: #282b2f;
                    border: 1px solid #404245;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    padding: 20px;

                    h4 {
                        font-size: 20px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                    }
                }

                padding-bottom: 60px;

                span {
                    color: #fff;
                    display: inline-block;
                    font-size: 15px;

                    strong {
                        font-size: 20px;
                    }

                    &.category {
                        text-align: right;
                    }
                }

                .main-button {
                    a {
                        width: 100%;
                        text-align: center;

                        &:hover {
                            background-color: #fff;
                            border: 1px solid #fff;
                            color: #7453fc;
                        }
                    }

                    margin-top: 20px;
                    margin-bottom: -60px;
                }
            }
        }
        .meprompt-portfolio {
            margin: 0px 3rem;
        }
    }

    .price {
        background-image: url("/images/main-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 120px 0px;
        position: relative;

        .section-heading {
            .line-dec {
                margin-left: 0%;
                background-color: #fff;
            }

            text-align: left;
            margin-bottom: 50px;
        }
        h4 {
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 15px;
        }
        p {
            margin-right: 30px;
        }

        .main-button {
            text-align: right;
        }

        .item {
            position: relative;
            a {
                color: #3cf;
            }
            .icon img {
                max-width: 31px;
            }
        }

        .first-item,
        .second-item {
            .number {
                position: absolute;
                right: 0;
                top: -20px;
            }

            &:after {
                position: absolute;
                width: 1px;
                height: 95%;
                background-color: rgba(255, 255, 255, 0.2);
                content: "";
                right: 5px;
                top: 5%;
            }
        }
    }
    .currently-market {
        .section-heading {
            text-align: left;

            .line-dec {
                margin-left: 0;
            }
        }

        .filters {
            text-align: right;

            ul li {
                display: inline-block;
                margin-left: 10px;
                font-size: 15px;
                color: #fff;
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 20px;
                cursor: pointer;
                transition: all 0.3s;

                &:first-child {
                    margin-left: 0px;
                }

                &.active,
                &:hover {
                    background-color: #7453fc;
                }
            }
        }
        .currently-market-item {
            margin: 0 auto;
            .item {
                background-color: #282b2f;
                border: 1px solid #404245;
                border-radius: 20px;
                padding: 25px;
                display: flex;
                margin-bottom: 30px;
                .left-image {
                    height: 100%;
                    img{
                        height: 100%;
                    }
                }
                .right-content {
                    h4 {
                        font-size: 20px;
                        margin-bottom: 25px;
                        color: #7453fc;
                    }

                    span.author {
                        display: flex;
                        margin-bottom: 25px;

                        img {
                            margin-right: 15px;
                        }

                        h6 {
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 25px;
                        }

                        a {
                            color: #7453fc;
                            font-weight: 700;
                            margin-top: 5px;
                        }
                    }
                }

                span {
                    color: #fff;
                    display: inline-block;
                    font-size: 15px;
                }

                .line-dec {
                    width: 100%;
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.2);
                    margin-bottom: 25px;
                    margin-top: 30px;
                }

                span {
                    strong {
                        font-size: 20px;
                    }

                    &.bid {
                        line-height: 35px;

                        em {
                            font-style: normal;
                        }
                    }

                    &.ends {
                        em {
                            font-style: normal;
                        }

                        text-align: right;
                        float: right;
                        line-height: 35px;
                    }
                }

                .text-button {
                    margin-top: 30px;

                    a {
                        font-size: 15px;
                        font-weight: 700;
                        color: #7453fc;
                        border-bottom: 1px solid #7453fc;
                    }
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .meprompt-portfolio {
            margin: 0px 3rem;
        }
    }
    @media (max-width: 1024px) {
        .meprompt-portfolio {
            margin: 0px 3rem;
        }
    }

    @media (max-width: 600px) {
        .dev-languages {
            margin: 0px 1rem;
        }
        .price {
            .package {
                margin: 0 1rem;
            }
        }
    }
    @media (max-width: 540px) {
        .currently-market {
            .currently-market-item {
                .item {
                    .left-image {
                        padding-bottom: 1.25rem;
                    }
                    span.ends {
                        text-align: left;
                    }
                }
            }
        }
    }
}
