.home-page {
    .main-banner {
        background-image: url("/images/banner-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 290px;
        padding-bottom: 240px;
        background-color: #2a2a2a;
        height: 100vh;

        h6 {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
        }

        h2 {
            color: #fff;
            font-size: 50px;
            font-weight: 700;
            line-height: 66px;
            text-transform: uppercase;
        }

        p {
            margin-top: 20px;
        }

        .buttons {
            margin-top: 30px;
            display: flex;
            justify-content: flex-start;
        }

        .border-button {
            margin-right: 15px;
        }

        .owl-banner {
            margin-top: -40px;
        }

        .owl-nav {
            position: absolute;
            width: 100%;
            margin: 0 auto;
            bottom: -76px;
            text-align: center;

            .owl-prev {
                margin-right: 7.5px;
            }

            .owl-next {
                margin-left: 7.5px;
            }

            .owl-prev span,
            .owl-next span {
                width: 46px;
                height: 46px;
                line-height: 46px;
                font-size: 24px;
                display: inline-block;
                color: #7453fc;
                background-color: #fff;
                border-radius: 50%;
                opacity: 1;
                transition: all 0.3s;
            }

            .owl-prev span:hover,
            .owl-next span:hover {
                opacity: 1;
            }
        }
    }
    @media (min-width: 992px) {
        .main-banner {
            height: 100vh;
        }
    }
    @media (max-width: 991px) {
        .main-banner {
            .buttons {
                justify-content: center;
            }
        }
    }
    @media (max-width: 767px) {
        .main-banner {
            padding-top: 200px;
        }
    }
    @media (max-width: 320px) {
        .main-banner {
            padding-top: 150px;
        }
    }
}
