@import "~bootstrap/scss/bootstrap";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "template.scss";
@import "globals.scss";
@import "components.scss";
@import "navber.scss";
@import "home.scss";
@import "news.scss";
@import "about.scss";
