.navber-mepropmt {
    padding: 0 10px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: absolute;
    width: 100%;
    top: 25px;
    span {
        font-size: 14px;
        color: #53b8fc;
    }
    .container {
        background: transparent;
        display: flex;
        background-color: #fff;
        padding: 10px 30px;
        border-radius: 50px;
        transition: all ease-in-out 0.5s;
        button.navbar-toggler {
            box-shadow: unset;
            color: #fff;
            background-color: #7453fc;
            border: 2px solid #7453fc;
            &.collapsed {
                color: #7453fc;
                background-color: #fff;
            }
        }
        .navbar-brand {
            img {
                height: 40px;
                object-fit: contain;
            }
        }
    }
    &.navbar-bg-scroll {
        background-color: #fff !important;
        position: fixed !important;
        top: 0 !important;
        margin-top: 0;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        .container {
            margin-top: 0;
        }
        span {
            display: none;
        }
    }
    .navbar-collapse {
        .navbar-nav-scroll {
            align-items: center;
            a {
                display: block;
                font-weight: bold;
                font-size: 16px;
                text-transform: capitalize;
                color: #2a2a2a;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                border: transparent;
                padding: 5px 15px;
                border-radius: 18px;
                letter-spacing: 1px;
                margin: 0 0.75rem;
                &:hover,
                &.active {
                    color: #fff;
                    background-color: #7453fc;
                }
            }
        }
    }

    .area {
        height: 80px;
        background-color: unset;
        position: fixed !important;
        top: 30px;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
        transition: all 0.5s ease 0s;

        .container {
            overflow: hidden;
            min-height: 80px;
            background: transparent;
            display: flex;
            background-color: #ffffff;
            padding: 0px 30px;
            border-radius: 50px;
            justify-content: space-between;
        }
    }
}
